{% trans_default_domain 'contao_modules' %}

<div class="tl_gray">
  <span class="upper">### {{ ('CTE.bootstrap')|trans }}: {{ ('CTE.' ~ type ~ '.0')|trans }} ###</span>
  <br>
  <span style="color: {{ color }}">{{ title }}</span>
</div>
